version: '3.8'

services:
  db:
    extends:
      file: docker/postgres/docker-compose.yml
      service: db
    env_file:
      - .env

  backend:
    extends:
      file: docker/app/docker-compose.yml
      service: backend
    env_file:
      - .env
    depends_on:
      - db
      - minio

  frontend:
    extends:
      file: docker/frontend/docker-compose.yml
      service: frontend

  minio:
    extends:
      file: docker/minio/docker-compose.yml
      service: minio
    env_file:
      - .env

  dozzle:
    extends:
      file: docker/dozzle/docker-compose.yml
      service: dozzle
    env_file:
      - .env

networks:
  his_sik_network:
    driver: bridge

volumes:
  postgres_data:
  minio_data:
